# Bayesian Networks

Bayesian Networks are probabilistic models that define relationships between variables and can be used to calculate conditional probabilities using Bayesian inference. They consist of a directed acyclical graph in which the nodes represent the variables of our model and the edges display the relationship (or conditional dependence) of the variables. Through these relationships, one can efficiently conduct inference on the random variables in the graph through the use of factors.
For example, if an edge $(A, B)$ exists in the graph connecting random variables $A$ and $B$, it means that $P(B|A)$ is a factor in the joint probability distribution, so we must know $P(B|A)$ for all values of $B$ and $A$ in order to conduct inference. Bayesian networks satisfy the local Markov property, which states that a node is conditionally independent of its non-descendants given its parents. This property allows us to simplify the joint distribution to a smaller form, making it also easier to infere some probabilities, since now we don't have to condition each variable to all the other previous variables, but only to its "parents". Thus, our joint distribution is calculated like this: 

${\displaystyle P(X_1, ..., X_n) = \prod_{i=1}^n P(X_i|X_1,...X_{i-1}) = \prod_{i=1}^n P(X_i|Parents(X_i))}$

This simplification also helps reduce the amount of required computation, since most nodes will have few parents relative to the overall size of the network.  
There are two types of inference we can perform using Bayesian Networks. The first one consists of evaluating  the joint probability of a specific assignment of values for each variable. Since we already have the factorized form of our joint distribution function, we simply evaluate the provided conditional probabilities. If we intended to study one subset of variables, we'd have to marginalize the variables that were not inclued in that subset.  
The second one consists of calculating a certain probability $P(X|Y)$ for an assignment of values of a subset of variables $X$ given another subset of variables $Y$. In order to calculate this, we use the fact that $P(X|Y) = \frac{P(X, Y)}{P(Y)} = αP(X, Y)$, where $α$ is a normalization constant that we will calculate at the end such that $P(X|Y) + P(¬X | Y) = 1$. In order to calculate $P(X, Y)$, we must marginalize the joint probability distribution over the variables that do not appear in $X$ or $Y$. This is usually the inference we're most interested in performing, and it's the one we'll perform in our dataset.

## Dataset

The chosen dataset aims to predict whether a patient is likely to get a stroke based on the input parameters like gender, age, various diseases, and smoking status. The data contains 5110 observations with 12 attributes. Each row in the data provides relevant information about the patient. The attribute information is shown as following: 
1) id: unique identifier. 
2) gender: "male", "female" or "other". 
3) age: age of each patient. 
4) hypertension: 1 if a patient has hypertension, 0 if not. 
5) heart_disease: 1 if a patient has heart disease, 0 if not. 
6) ever_married: "yes" or "no". 
7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed". 
8) Residence_type: "Rural" or "Urban". 
9) avg_glucose_level: average glucose level in the blood. 
10) bmi: body mass index. 
11) smoking_status: "formerly smoked", "never smoked", "smokes" or "unknown". This "unknown" means this type of information is unavailable for the referred patient. 
12) stroke: 1 if a patient had a stroke, 0 if not.

In [1]:
import numpy as np
import pandas as pd
import seaborn
from matplotlib import pyplot as plt

import numpy as np
from pomegranate import *
import networkx as nx
from pomegranate.utils import plot_networkx
import time

In [2]:
df = pd.read_csv("data.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [4]:
df.dropna(inplace=True)
print(f"NaNs left : {df.isna().sum().sum()}")
print(f"Columns : {list(df.columns.values)}")

NaNs left : 0
Columns : ['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   ever_married       4909 non-null   object
 6   work_type          4909 non-null   object
 7   Residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     4909 non-null   object
 11  stroke             4909 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 498.6+ KB

## Our aim

In our case, our goal is to infer whether a person is likely to have a stroke, given certain circumstances. This can easily be achieved by creating a Bayesian Network, in which the bottom and final node is the variable "stroke", and our top and middle nodes are the characterstics and risk factors of a certain person. We're interested in calculating $P(X|Y)$, where $X$ stands for the variable "stroke" and $Y$ is the subset of all of the other variables included in our model.  
Using the Pomegrenate library, we managed to simplify the amount of variables used, since not all of them had a significant correlation with each other, based on our data set. Since we have an idea of how the relationships between the variables of our dataset should go, we applied the notion of Constraint Graphs to our Bayesian Network, which should contain three layers: the top one consists of basic characteristics of an individual (gender, age); the middle one contains possible risk factors of a stroke (heart disease, smoking status, hypertension, etc.) and the bottom one is the variable we are interested in predicting, which is "stroke". The algorithm we implemented automatically calculated the relationships between these three layers, based on correlation notions. This way, we ended up with only three of the risk factors having a significant relationship with the variable stroke: "heart_disease", "ever_married" and "hypertension". These nodes are going to be known as "parents" of the node "stroke", which basically means that when we want to calculate the conditional probability of "stroke" given any subset of variables, the only ones that will be taken into account are the three parents of this node.  
However, we found it odd that "smoking_status" and "avg_glucose_level" weren't included in the risk factors that were directly linked to a stroke, as there are numerous papers manifesting the toll that smoking and high glucose level in our blood may take in our bodies, including a higher chance of having a stroke. For that reason, we decided to add two extra connections: "avg_glucose_level" to "stroke" and "smoking_status" to "stroke".

As the id parameter is only an identifier and has no real impact on a person having a stroke, we choose to drop that column.

In [6]:
df.drop(columns=["id"], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

## General dataset discovery and explanation

In [7]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000
mean,42.865374,0.091872,0.049501,105.305150,28.893237,0.042575
std,22.555115,0.288875,0.216934,44.424341,7.854067,0.201917
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.070000,23.500000,0.000000
50%,44.000000,0.000000,0.000000,91.680000,28.100000,0.000000
75%,60.000000,0.000000,0.000000,113.570000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [8]:
df.nunique()

gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3852
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [9]:
df.gender.value_counts()

Female    2897
Male      2011
Other        1
Name: gender, dtype: int64

As "other" is heavily underrepresented in the parameter "gender", we remove the only row containing it.

In [10]:
df = df[df.gender != "Other"].reset_index(drop=True)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

## Dataset adaptation

To turn the categorical parameters into binary variables, we used the function factorize(). And the quantitative variables were split in two intervals.
* As "gender" has 2 unique values, we assigned 0 for "male" and 1 for "female". 
* As "ever_married" has 2 unique values, we assigned 0 for "yes" and 1 for "no".
* As "residence_type" has 2 unique values, we assigned 0 for "urban" and 1 for "rural". 
* As the average value of "age" is near 45, we decided to split that parameter in two: $>45$ and $\leq 45$.
* If the average glucose level is greater than 100 while fasting, it means that a patient is in prediabetes (the reference values). So, we decided to split that parameter in two: $>100$ and $\leq 100$. 
* As obese people have more risk to have a stroke, and a patient is considered obese when their bmi is above 30, we decided to split that parameter in two: $\geq 30$ and $<30$.

In [11]:
df["gender"] = df["gender"].factorize()[0]
df["Residence_type"] = df["Residence_type"].factorize()[0]
df["ever_married"] = df["ever_married"].factorize()[0]

In [12]:
df["age"] = (df["age"] > 45).astype(int)
df.rename(columns={"age":"age_above_45"}, inplace=True)

df["avg_glucose_level"] = (df["avg_glucose_level"] > 100).astype(int)
df.rename(columns={"avg_glucose_level":"avg_glucose_level_above_100"}, inplace=True)

df["bmi"] = (df["bmi"] < 30).astype(int)
df.rename(columns={"bmi":"bmi_under_30"}, inplace=True)

In [13]:
df.smoking_status.value_counts()

never smoked       1852
Unknown            1483
formerly smoked     836
smokes              737
Name: smoking_status, dtype: int64

Even if the number of "Unknown" is high, it does not give us any information regarding the smoking_status of a patient. For that reason, we decided to drop all the rows containing it.

In [14]:
df.drop(df[df['smoking_status'] == 'Unknown'].index, inplace=True)

We still have 3 possible values in the smoking_status and we want to turn it only into 2. Several papers claim that when a patient stops smoking the risk of having a stroke decreases immediately. For this reason, we decided to assign the same value to "formerly_smoked" and "never_smoked".

In [15]:
df["smoking_status"] = [1 if x in ["smokes"] else 0 for x in df["smoking_status"]]

In [16]:
df.work_type.value_counts()

Private          2200
Self-employed     629
Govt_job          514
children           68
Never_worked       14
Name: work_type, dtype: int64

Since we have 5 different values for "work_type", we decided to create new variables for each one of them.

In [17]:
encoded_df = pd.concat([df, pd.get_dummies(df["work_type"], prefix="work")], axis = 1)
encoded_df.drop(columns = 'work_type', inplace=True)
encoded_df

,gender,age_above_45,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level_above_100,bmi_under_30,smoking_status,stroke,work_Govt_job,work_Never_worked,work_Private,work_Self-employed,work_children
0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0
1,0,1,0,1,0,1,1,0,0,1,0,0,1,0,0
2,1,1,0,0,0,0,1,0,1,1,0,0,1,0,0
3,1,1,1,0,0,1,1,1,0,1,0,0,0,1,0
4,0,1,0,0,0,0,1,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4899,0,1,1,0,0,1,0,1,0,0,0,0,0,1,0
4901,1,1,0,0,0,1,0,1,0,0,0,0,1,0,0
4904,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0
4905,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4906,0,1,0,0,0,1,1,1,0,0,0,0,1,0,0

## Bayesian Network with Constraint Graph

In [18]:
encoded_df.columns.values

array(['gender', 'age_above_45', 'hypertension', 'heart_disease',
       'ever_married', 'Residence_type', 'avg_glucose_level_above_100',
       'bmi_under_30', 'smoking_status', 'stroke', 'work_Govt_job',
       'work_Never_worked', 'work_Private', 'work_Self-employed',
       'work_children'], dtype=object)

In [19]:
constrained_graph = nx.DiGraph()
layer_0 = tuple((0,1))
layer_1 = tuple((2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14))
layer_2 = tuple((9, ))

constrained_graph.add_edge(layer_0, layer_1)
constrained_graph.add_edge(layer_1, layer_2)
plot_networkx(constrained_graph)
plt.show()

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\MRCIAL~1\\AppData\\Local\\Temp\\tmpu1q2zc9v'

##

In [ ]:
#tic = time.time()
model = BayesianNetwork.from_samples(encoded_df, algorithm='exact',  state_names=encoded_df.columns.values, constraint_graph=constrained_graph)
plt.figure(figsize=(16, 8))
model.plot()
#plt.savefig("encoded.png")
plt.show()
#print(f"Time for learning {time.time() - tic}"

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\MRCIAL~1\\AppData\\Local\\Temp\\tmpj59aml9b'